Flask==3.0.3
python-telegram-bot[ext]==21.4
SQLAlchemy==2.0.31
Flask-SQLAlchemy==3.1.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
gunicorn==20.1.0
Flask-Migrate==4.0.4
alembic==1.9.0
boltons==23.0.0
certifi
charset-normalizer
click
contourpy
cycler
decorator
Deprecated
filelock
FLAML
fonttools
greenlet
h11
httpcore
httpx
idna
importlib-metadata
Jinja2
kiwisolver
Mako
MarkupSafe
matplotlib
multiprocess
numpy
packaging
pandas
pillow
pip-audit
platformdirs
protobuf
psutil
ptyprocess
pulsar-client
pyarrow
pyparsing
python-dateutil
python-editor
pywin32-ctypes
PyYAML
requests
scipy
sniffio
sortedcontainers
soupsieve
stack-data
starlette
tomli
toolz
tornado
tqdm
traitlets
types-psycopg2
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
wcwidth
websockets
Werkzeug==3.0.3
wrapt
yarl
zope.event
zope.interface
openai==1.56.0
pydub==0.25.1
